body {
  background-color: rgba(114, 9, 183, 0.8);
  font-size: larger;
  font-family: sans-serif;
  color: white;
}
h1 {
  text-align: center;
  text-decoration: underline;
}
a {
  text-decoration: none;
  color: #3a0ca3;
}

#image {
  width: 100%;
  height: auto;
  max-width: max-content;
  display: block;
  border-radius: 50%;
}
figcaption {
  text-align: center;
  margin-top: 1rem;
  font-weight: bold;
}

#img-div {
  display: flex;
  justify-content: center;
}
